[Desktop Entry]
Type=Application
Version=1.0
Name=Asante Typing
Comment=Learn touch-typing with interactive lessons.
Exec=/usr/bin/asante_typing
Icon=org.mukulu.asante_typing
StartupWMClass=org.mukulu.asante_typing
Terminal=false
Categories=Education;Utility;
Keywords=typing;keyboard;learn;practice;
